.single__social .fb-like.fb_iframe_widget {
    line-height: 40px;
    width: 13rem;
}

.single__social .fb-like.fb_iframe_widget > span {
    width: 13rem !important;
}

.single__social .fb-like.fb_iframe_widget > span > iframe {
    width: 13rem !important;
}